<!DOCTYPE html>
<html>
<head>
  <title>PasswordChecker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Password Checker</h1>
<%= flash[:alert] %>
<br/>
<%= flash[:notice] %>
<br/>
<br/>
<%= yield %>

</body>
</html>
